/*
** =====================================
**            _-= Навбар =-_
** =====================================
*/

.wrap .container .navbar_wrap
{
    position: relative;
    height: 60px;
    padding: 19px;
    background: #00bcd4;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
				0 2px 10px 0 rgba(0,0,0,0.12);
}
.wrap .container .navbar_wrap .log_button
{
    float: right;
}
.wrap .container .navbar_wrap .log_button a
{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
}
